.Container {
    display: flex;
    
}

.Subcontainer {
    width: 100%;
}

h2 {
    font-family: "Montserrat";
}

.Firstrow {
    display: flex;
    justify-content: space-around;
    
}

.Firstrow li {
    list-style-type: none;

}

.Firstrow li img {
    width: 100px;
    border: 1px grey solid;
    border-radius: 50%;
}