.Sidebar{
    height: 100vh;
}

.Menu {
    margin: 0 10px 5px 5px;
    cursor: pointer;
    padding: 5px;
}

.Sidenav{
    margin: 0;
    padding: 0;
}

.Navitem {
    list-style-type: none;
    cursor: pointer;
    display: flex;
    font-size: large;
    line-height: 40px;
    text-align: center;
}

.Navitem:hover {
    background-color: gainsboro;
}

.Sidenav #active {
    background-color: #00a0831c;
    color: #00A082;
}

.Sidenav #active .Icon {
    border-left: 5px solid #00A082;
}

.Icon {
    padding-left: 12px;
}

.Title {
    white-space: nowrap;
    margin-right: 10px;
    font-size: medium;
}
